html, body 
{
    overflow-x: hidden;
}

.first-div
{
	height: 90vh;
	width: 100%;
	/* background-image: url("firstimage.jpg"); */
	background-image: url('../images/first-div-index-page.jpg');
	background-position: center;
	background-size: cover;
	
	background-color: black;
	color: #fff;
	align-items: center;
	justify-content: center;
	text-align: center;
	/* display: flex; */
}

.nav-link
{
	color: #fff;
	/* font-size: medium; */
}

.first-div
{
	text-align: left;
	padding-left: 5%;
	padding-top: 50vh;
	
}


.second-div
{
	height: 100vh;
	width: 100%;
	/* background-image: url("firstimage.jpg"); */
	background-image: url('../images/Page\ 3\ index\ page.png');
	/* background-color: black; */
	color: #fff;
	align-items: center;
	justify-content: center;
	text-align: center;
	/* display: flex; */
}

.footer-text
{
	color: #d9d9d9;
	padding-bottom: 5%;
}

.fa
{
	font-size: 10px;
}

