html, body 
{
    overflow-x: hidden;
}

.first-div
{
	height: 100vh;
	width: 100%;
	/* background-image: url("firstimage.jpg"); */
	background-image: url('../images/Blue\ Medical\ Conference\ Events\ Website.png');
	/* background-color: black; */
	color: #fff;
	align-items: center;
	justify-content: center;
	text-align: center;
	/* display: flex; */
}

.nav-link
{
	color: #fff;
	/* font-size: medium; */
}

.first-div-text
{
	font-family: 'Quicksand', sans-serif;
	letter-spacing: 3px;
	font-size: 80px;
	/* text-align: center; */
	vertical-align: middle;
	line-height: 100vh;
	/* width: 50%; */
	flex: 0 0 120px;
}



.second-div
{
	height: 100vh;
	width: 100%;
	/* background-image: url("firstimage.jpg"); */
	background-image: url('../images/Page\ 3\ index\ page.png');
	/* background-color: black; */
	color: #fff;
	align-items: center;
	justify-content: center;
	text-align: center;
	/* display: flex; */
}

.footer-text
{
	color: #d9d9d9;
	padding-bottom: 5%;
}

.fa
{
	font-size: 10px;
}

